
// Body
$body-bg: linear-gradient(180deg, #E8F9FF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//@import 'colors';

// Colors
$skblue: #243447;
$skpink: #EE4B81;
$bgblue: #E8F9FF;


$container-max-widths: (
    sm: 420px,
    md: 720px,
    lg: 960px,
    xl: 1272px
);
