
// Fonts
@import 'fonts';

// Variables
@import 'variables';
@import 'colors';
@import 'credit-card-form';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~react-responsive-carousel/lib/styles/carousel.css';

body {
    background: #415164;
    font-family: "DB Heavent", "Helvetica", sans-serif;
}

@mixin mobile {
    @include media-breakpoint-down(sm) {
        @content;
    }
}

@mixin desktop {
    @include media-breakpoint-up(md) {
        @content;
    }
}

@mixin fluid-aspect($ratio: 1 1, $selector: "> :first-child") {
    $selector: unquote($selector);

    padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
    position: relative;

    #{$selector} {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.hide-mobile {
    @include mobile {
        display: none !important;
    }
}

.hide-desktop {
    @include desktop {
        display: none !important;
    }
}

.navbar-main {

    height: 44px;

    @include desktop {
        height: 64px;
    }

    background-color: #243447;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    .navbar-brand {
        color: #EE4B81;
        font-size: 30px;
        margin-left: 5px;

        &:hover, &:focus, &active {
            color: #EE4B81;
        }
    }

    @include mobile {

        .navbar-brand-container {
            display: none;
        }
    }

    .row {
        margin: 0;
    }

    a {
        padding: 8px;
        margin: 0;
    }

    .navbar-button-container {
        @extend .col-auto;

        padding: 0;

        text-align: center;
    }

    .nav-icon {
        height: 32px;
        @include desktop {
            height: 64px;
            padding: 10px;
        }

        cursor: pointer;
    }

    .brand-nav-icon {
        height: 44px;
        margin-right: 8px;

        margin-top: 2px;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

main.container {
    min-height: calc(100vh - 84px);

    @include desktop {
        min-height: calc(100vh - 64px);
        padding-top: 3.5rem;
    }
}

.divider {
    border: 1px solid #000000;
    background-color: black;
}

.product-title-divider {
    @extend .divider;
}

.section-header {
    font-size: 48px;
    text-align: center;

    img {
        max-width: 100%;
    }
}

.section-divider {
    @include make-col(12);
    @include media-breakpoint-up(md) {
        @include make-col(8);
    }
    @extend .divider;

    margin: 82px  auto;
}

.sets-products-divider {
    @extend .section-divider;

    margin: 30px auto 40px;

    border-color: #EE4B81;
}

.pic-placeholder {
    background: rgba(196, 196, 196, 0.33);
}

.full-width {
    width: 100%;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin make-card($radius) {
    @include border-radius($radius);

    background: #FFFFFF;
    padding: 40px 40px 10px;
}

.product-detail-card {
    @extend .col-12;

    @include make-card(0);

    padding: 20px;

    @include desktop {
        padding: 34px 50px 34px;
    }

    .product-left-pane {
        @extend .col-12;
        @extend .col-md-8;

        @include desktop {
            padding: 16px;
        }

        .product-slide {
            /*
            @include mobile {
                @include fluid-aspect(1 1)
            }

            @include desktop {
                @include fluid-aspect(1.25 1)
            }

            @extend .pic-placeholder;
            */

            .carousel .slide {
                background: transparent;
            }
        }
    }

    .product-right-pane {
        @extend .col-12;
        @extend .col-md-4;

        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
    }

    .product-title {
        margin-top: 16px;
        font-size: 48px;
    }

    .product-info {
        width: 100%;
        min-height: 200px;
        height: auto;
        @extend .pic-placeholder;

        margin-bottom: 16px;

        font-size:22px ;
        padding: 0 5%;

        @include desktop {

            margin: 34px 0 23px 0;
            font-size:32px ;
            padding: 0 5%;
        }
    }

    .product-customization-label {
        padding-top: 0;

        font-size: 20px;

        @include desktop {
            font-size: 24px;
        }
    }

    form {
        flex-grow: 1;
    }

    .product-name-strip {
        margin-top: 10px;
        margin-bottom: 20px;
        background: rgba(255, 0, 0, 0.07);
        border-bottom: solid 1px #EE4B81;

        h1 {
            color: black;
        }
    }

    .product-price {
        @include mobile {
            text-align: center;
        }

        @include desktop {
            text-align: right;
        }
    }

    @include desktop {
        .custom-select {
            width: initial;
        }
    }
}

.recommended-list {
    @extend .col-12;
    @extend .hide-mobile;

    margin-top: 48px;
    padding: 0 34px;

    .title {
        color: white;
        font-size: 44px;
    }

    .section-divider {
        width: 100%;
        max-width: 100%;

        margin-top: 0;
        margin-bottom: 8px;
    }
}

.sets-container {
    @include make-row();
    @extend .justify-content-center;

    .set-card {
        @include make-card(0);

        width: 300px;
        height: 360px;

        margin: 50px 50px;

        .set-text {
            font-size: 30px;
            font-weight: 700;
            text-align: center;

            color: black;

            margin: 0 -20px;
        }

        .set-pic {
            width: 220px;
            height: 240px;
            margin-bottom: 17px;

            @extend .pic-placeholder
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.products-container {
    @include make-row();
    @extend .justify-content-center;

    .product-card {
        @include make-card(0);

        width: 250px;
        height: 300px;

        margin: 16px 34px;
        padding: 20px 20px 0;

        @include desktop {
            margin: 40px 34px;
            padding: 30px 30px 0;
        }

        .product-text {
            font-size: 24px;
            font-weight: 700;
            text-align: center;

            @include desktop {
                font-size: 30px;
            }

            color: black;

            margin: 0 -30px;
        }

        .product-pic {
            width: 190px;
            height: 190px;
            margin-bottom: 17px;

            @include mobile {
                width: 210px;
                height: 210px;
                margin-bottom: 17px;
            }

            @extend .pic-placeholder
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.cart-card {
    @include make-card(0);
    @extend .full-width;

    padding: 20px;

    @include desktop {
        padding: 42px;
    }

    .cart-title {
        margin-bottom: 20px;

        @include desktop {
            margin-bottom: 36px;
        }
    }

    .cart-divider {
        @extend .divider;
        @extend .full-width;

        margin: 0 0 40px 0;
    }

    .cart-summary {
        @extend .justify-content-center;
        @extend .justify-content-md-end;
        @extend .strip;

        height: initial !important;

        display: flex;
        margin-top: 36px;

        color: white;

        table {
            @extend .col-auto;

            width: 400px;

            @extend .table;
            @extend .table-borderless;

            margin-bottom: 0;

            tr {
                td, th {
                    font-size: 36px;
                }

                th {
                    white-space: nowrap;
                }

                td {
                    width: 100%;
                    text-align: right;
                }
            }
        }

        .summary-label {
            margin-top: 25px;
        }

        .confirm-button {
            @extend .btn;
            @extend .btn-danger;

            @include border-radius(10px);

            width: 100%;
            margin-top: 16px;
            margin-bottom: 16px;

            font-size: 30px;
        }
    }

    .cart-footer {
        @extend .row;
        @extend .justify-content-center;

        margin: 36px 0;
        text-align: center;

        button {
            @extend .btn;
            @extend .btn-lg;
            @extend .btn-danger;

            @include border-radius(16px);

            padding: 8px 86px;
            font-size: 48px;
        }
    }

    .cart-panel {
        @extend .common-panel;

        @include mobile {
            padding: 0 12px;

            justify-content: left !important;
        }
    }
}

.cart-items-container {
    @extend .full-width;

    .cart-item-background {
        margin-bottom: 1px;
        background: rgba(255, 0, 0, 0.07);
    }

    .cart-item {
        @include make-row();
        @extend .align-items-center;

        height: 70px;
        padding: 5px;

        @include desktop {
            height: 100px;
            padding: 10px;
        }

        .product-pic {
            @extend .pic-placeholder;

            width: 60px;
            height: 60px;

            @include desktop {
                width: 80px;
                height: 80px;
            }
        }

        .row.nested {
            height: 100%;
            align-items: center;
        }

        .col.nested {
            height: 100%;
            padding-left: 0;
        }

        .product-name, .product-customization {
            margin: 0;

            @include desktop {
                padding-left: 12px;
            }

            &.product-name {
                font-size: 18px;

                @include desktop {
                    font-size: 36px;
                }

                @include mobile {
                    text-align: center;
                }
            }

            &.product-customization {
                line-height: 1.2em;
            }
        }

        @include mobile {
            .product-option-btn {
                padding: 0 10px;
                font-size: 16px;
            }
        }

        .cart-item-label {
            margin: 0;

            font-size: 36px;
        }

        .cart-delete {
            @extend .cart-item-label;

            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;

            color: $skpink;
        }

        .cart-delete-mobile {
            margin-left: 8px;
            margin-right: 3px;
        }

        &.small {
            height: auto;
            margin-left: 99px;

            padding: 0 5px 10px;

            .product-name {
                display: inline;

                font-size: 24px;
            }

            span {
                font-size: 0.9rem;
            }

            &.first {
                margin-top: -20px;
            }
        }

        .amount-text {
            font-size: 16px;

            @include desktop {
                margin-right: 32px;
                font-size: 36px;
            }
        }
    }

    .empty-cart-message {
        margin: 80px 0;

        font-size: 36px;
        text-align: center;

        @include desktop {
            margin: 160px 0;

            font-size: 64px;
        }
    }
}

.product-option-btn {
    @extend .btn;

    padding: 0.1rem 10px;

    background-color: #FFFFFF;
    border: solid 1px #C4C4C4;
    color: #000000;
    font-size: 18px;

    @include desktop {
        padding: 0.1rem 20px;

        font-size: 22px;
    }

    &span {
        cursor: initial !important;
    }

    &.active {
        background-color: #C4C4C4;
    }

    &.pink {
        color: white;
        background-color: $skpink;
        border-color: $skpink;
    }
}

.get-order-page {
    .get-order-card {
        padding-top: 5%;
        height: auto;
        width: 1268px;
        background-color: white;
        text-align: center;
        font-size: 48px;
        margin-bottom: 10%;

        @include mobile {
            width: 270px;
            height: auto;
            font-size: 24px;
        }

        .get-order-userdata {
            @include mobile {
                height: 40px;
                margin: 5% 20px ;
            }

            background-color: rgba(255, 0, 0, 0.1);
            margin: 5% 226px 5%;
        }

        .get-order-payment {
            width: 1041px;
            height: auto;
            margin: 0 auto 10px;
            font-size: 30px;
            color: black;

            @include mobile {
                width: auto;
                height: auto;
                font-size: 15px;
                margin: 0 10% 5%;
            }

            p {
                font-size: 44px;
                color: $skpink;

                @include mobile {
                    font-size: 18px;
                    margin: 0 5% 5%;
                }
            }

        }

        button {
            @extend .btn;
            font-size: 48px;
            border-radius: 10px;
            background-color: $skpink;
            color:white;
            margin: 30px auto 63px;
            width: 30%;

            @include mobile {
                width: 70%;
                font-size: 18px;
                margin: 3% auto 5%;
            }
        }
    }

    .thank-you-art {
        width: 1024px;
        height: 300px;
        background-color: rgba(196, 196, 196, 0.33);
        text-align: center;
        margin: 0 auto 68px;
        font-size: 48px;

        @include mobile {
            margin: 26px auto 20px;
            width:256px;
            height: 100px;
            font-size: 14px;
        }
    }
}

.order-status-card {
    @extend .col-12;

    padding-top: 5%;
    margin-bottom: 67px;
    max-width: 1024px;
    height: auto;
    background-color: white;
    align-items: center;

    .order-status-text {
        text-align: center;
        font-size: 48px;

        @include mobile {
            font-size: 18px;
        }
    }

    .order-id-container {
        font-size: 36px;

        @include mobile {
            font-size:18px;
            margin: 0 35px;
        }

        .order-id {
            height: 60px;
            background-color: #243447;
            color: #EE4B81;
            border-radius: 15px;

            @include mobile {
                height: 30px;
                border-radius: 7px;
            }
        }
    }

    .status-divider {
        @extend .divider;
        margin: 32px 82px 33px;

        @include mobile {
            margin: 17px 23px 18px;
        }
    }

    .with-margin {
        margin: 0 10px 20px;

        @include desktop {
            margin: 0 20px 28px;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 10% 28px;
        }
    }

    .order-not-paid {
        @extend .with-margin;

        height: 80px;
        background-color: rgba(255, 0, 0, 0.1);
        color: black;
        font-size: 40px;
        border-radius: 15px;
        padding-top: 5px;

        @include mobile {
            height: 40px;
            font-size:18px;
            border-radius: 7px;
        }
    }

    .order-paid {
        @extend .order-not-paid;
        background-color: rgba(0, 255, 26, 0.15);
    }

    .identification-row {
        @extend .with-margin;

        text-align: center;

        .id-label-line2 {
            @include mobile {
                font-size: 16px;
            }
        }

        .identification-input-container {
            display: flex;
            justify-content: center;
        }

        @include mobile {
            .id-field {
                width: 120px;
                margin-right: 10px;
            }

            .id-button {
                width: 77px;
            }
        }
    }

    .order-status-footer {

        font-size: 24px;

        .qr-detail {
            margin: 0 10%;

            @include mobile {
                font-size: 13px;
                margin: 0 30px;
            }

            p {
                color:$skpink;
            }
        }

        .qr-pic {
            @include desktop {
                height: 250px;
                width: 250px;
            }

            @include mobile {
                @include fluid-aspect(1 1);
            }

            margin: 0 auto;
        }

        button {
            @extend .btn;
            color: white;
            width: 377px;
            height: 67px;
            border-radius: 10px;
            font-size: 32px;
            margin: 20px auto 50px;
            background-color: #EE4B81;
            text-align: center;
            align-content: center;

            @include mobile {
                font-size: 13px;
                width: 171px;
                height: 34px;
                margin: 0 auto 20px;
            }
        }
    }

    .cart-container {
        margin: 0 82px 40px;

        .cart-items-title {
            font-size: 18px;
            margin-bottom: 10px;

            @include desktop {
                font-size: 36px;
                margin-bottom: 17px;
            }
        }

        @include mobile {
            margin: 0 23px 26px;

            .amount-text {
                text-align: center;
            }
        }
    }
}

.strip {
    @extend .set-card-row;

    width: 100%;
    height: 50px;

    @include mobile {
        h1 {
            margin: 0;
            text-align: center;
        }
    }

    @include desktop {
        height: 100px;

        h1 {
            margin: 0 32px;
        }
    }

    background: #243447;

    h1 {
        color: #ffffff;
    }
}

.common-panel {
    height: 100%;

    display: flex;
    align-items: center;

    @include mobile {
        justify-content: center;
    }

    @include desktop {
        display: inline-flex;
    }

    h1, h2 {
        display: inline-block;
    }

    h1 {
        font-size: 24px;

        @include desktop {
            font-size: 48px;
        }
    }
}

.set-detail-card {
    @extend .col;
    @include make-card(0);

    padding: 20px;

    @include desktop {
        padding: 64px 84px 79px;
    }

    h1 {
        font-size: 24px;

        @include desktop {
            font-size: 48px;
        }
    }

    .set-card-row {
        margin-bottom: 12px;

        @include desktop {
            margin-bottom: 50px;
        }
    }

    .set-panel {
        @extend .common-panel
    }

    .right-panel {
        @extend .set-panel;

        height: 100%;
        float: right;
        padding: 0 26px;

        display: flex;
        align-items: center;
    }

    .set-image-container {
        @include mobile {
            @include fluid-aspect(1 1);
        }
        @include desktop {
            @include fluid-aspect(2.4 1);
        }
        @extend .set-card-row;

        width: 100%;

        background: rgba(196, 196, 196, 0.33);
    }

    .customize-title {
        margin-bottom: 28px;

        @include mobile {
            font-size: 20px;
            margin: 24px 0 12px;
        }
    }

    .customizations {
        @extend .row;

        .product-preview-container {
            @extend .col-12;
            @extend .col-md-3;

            margin-bottom: 1px;

            @include desktop {
                margin-bottom: 40px;
            }
        }

        .product-preview {
            @include mobile {
                height: 70px;
            }

            @include desktop {
                @include fluid-aspect(5 6);
            }

            background: rgba(196, 196, 196, 0.15);
        }

        .product-info-container {
            display: flex;

            @include mobile {
                padding: 5px;
                align-items: center;

                .set-panel {
                    padding: 8px 7px 8px 12px;
                    flex-grow: 1;
                }
            }

            @include desktop {
                flex-direction: column;
                padding: 7.1428% 10% 0;
            }
        }

        .product-pic {
            @include mobile {
                width: 60px;
                height: 60px;
            }

            @include desktop {
                @include fluid-aspect(1 1);
            }

            background: rgba(196, 196, 196, 0.15);
        }

        .product-name-container {
            height: 100%;
        }

        .product-name {
            margin: 0;

            font-size: 18px;

            @include desktop {
                font-size: 36px;
            }
        }
    }

    .bottom-strip {
        @extend .strip;

        height: initial;
        padding: 16px;
        margin-top: 23px;

        .set-price-container {
            margin-top: 4px;
            margin-bottom: 20px;
        }

        .set-price-title {
            font-size: 18px;
        }
    }
}

.login-card{

    padding-top: 5%;

    width: 1024px;
    height: 682px;
    background-color: white;
    text-align: center;
    margin: 0 auto 5%;
    @include mobile{
        margin: 10% auto;
        width: 270px;
        height: auto;
    }
    .login-header{
        color:$skblue;
        font-size: 48px;
        @include mobile{
            font-size: 16px;
        }
    }
    .login-divider{
        @extend .divider;
        color:$skblue;
        margin: 22px 82px 58px;
        @include mobile{
            margin: 5% 10% 8%;
        }
    }
    .login-body{
        margin: 0 312px;
        font-size: 30px;
        color: $skpink;
        .login-text{
            text-align: left;
        }
        @include mobile{
            font-size: 16px;
            margin: 0 10% ;

            input, button {
                width: 100%;
            }
        }
    }
    button{
      margin-top: 70px;
      color: white;
      background-color: #EE4B81;
      width: 311px;
      height: 73px;
      border-radius: 10px;
      font-size: 48px;
      @include mobile{
          font-size: 24px;
          height: auto;
          width:96%;
          margin: 10% auto 10%;
      }
    }
    input {
        font-size: 32px;
        width: 400px;
        height: 50px;
        @include mobile{
            font-size: 14px;
            height:auto;
            width: auto;
            margin: 0 auto;
        }
    }
}

.justify-content-stretch {
    justify-content: stretch;
}

.btn-responsive {
    width: 100%;
}

img.fit-parent {
    width: 100%;
    height: 100%;
}

.manage-card {
    @include make-card(0);

    padding: 20px;
}

.outer-container {
    @include mobile {
        margin: 20px;
    }
}

.footer {
    padding-bottom: 40px;
    text-align: center;

    margin-top: 40px;

    @include desktop {
        padding-bottom: 70px;
        margin-top: 100px;
    }

    .kornor-mobile {
        margin-top: 40px;
    }
}

.sponsor-container {
    margin: 85px 0 94px;

    @include mobile {
        display: none;
    }
}

.cover {
    position: absolute;
    width: 100%;
}

.cover-mobile {
    @extend .cover;
    @extend .hide-desktop;

    top: 44px;
}

.cover-desktop {
    @extend .cover;
    @extend .hide-mobile;

    top: 64px;
}

.product-category-select {
    margin-top: calc(100vw * 0.5);
}

.home-top {
    margin-top: calc(100vw * 0.3);
}
