
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: $body-bg;
}

.navbar-main {
    height: 64px;

    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    .navbar-brand {
        font-family: 'Kelly Slab', sans-serif;
        font-size: 30px;
    }
}

main.container {
    min-height: calc(100vh - 64px);
    padding-top: 3.5rem;
}

.divider {
    border: 1px solid #000000;
}

.product-title-divider {
    @extend .divider;
}

.section-divider {
    @include make-col(12);
    @include media-breakpoint-up(md) {
        @include make-col(8);
    }
    @extend .divider;

    margin: 82px  auto;
}

.pic-placeholder {
    background: rgba(196, 196, 196, 0.33);
}

.full-width {
    width: 100%;
}

@mixin make-card($radius) {
    background: #FFFFFF;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    border-radius: $radius;
    padding: 40px 40px 10px;
}

.product-card {
    @include make-row();
    @include make-card(0);

    height: 728px;

    padding: 50px;

    .product-left-pane {
        @include make-col(8);

        padding: 16px;

        .product-slide {
            width: 100%;
            height: 600px;
            @extend .pic-placeholder;
        }
    }

    .product-right-pane {
        @include make-col(4);

        padding-left: 16px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
    }

    .product-title {
        margin-top: 16px;
        font-size: 48px;
    }

    .product-info {
        width: 100%;
        height: 200px;
        @extend .pic-placeholder;

        margin: 34px 0 23px 0;
    }

    .product-customization-label {
        font-size: 24px;
    }

    form {
        flex-grow: 1;
    }
}

.recommended-list {
    .title {
        font-size: 44px;
    }
}

.sets-container {
    @include make-row();
    @include make-col(12);
    @extend .justify-content-between;

    .set-card {
        //@include make-col(12);
        //@include media-breakpoint-up(md) {
        //    @include make-col(3);
        //}

        @include make-card(23px);

        width: 300px;
        height: 360px;

        .set-text {
            font-size: 36px;
            font-weight: 700;
            text-align: center;
        }

        .set-pic {
            width: 220px;
            height: 240px;
            margin-bottom: 10px;

            @extend .pic-placeholder
        }
    }
}
