@font-face {
    font-family: 'DB Heavent';
    src: url('../fonts/DB Heavent v3.2.ttf');
}

@font-face {
    font-family: 'DB Heavent';
    src: url('../fonts/DB Heavent Bd v3.2.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'DB Heavent';
    src: url('../fonts/DB Heavent Li v3.2.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.otf');
}

@font-face {
    font-family: 'Helvetica-bold';
    src: url('../fonts/Helvetica.otf');
    font-weight: bold;
}
